body {
  margin: 0 auto;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
  font-family: 'Inconsolata', system-ui;
  font-weight: 700;
  padding-left: 5vw;
  font-size: 22px;
}

main {
  display: grid;
  grid-template-columns: 45% 55%;
  padding-top: 15vh;
  height: 68vh;
}

figure {
  display: flex;
  margin: 0;
  /* max-width: 50%; */
}

.principal-image {
  max-width: 65%;
  padding-left: 5vw;
}

.principal-title {
  font-family: 'Space Mono', system-ui;
  font-size: 40px;
  max-width: 60%;
  color: #333333;
  margin: 0;
}

.principal-text {
  font-family: 'Space Mono', system-ui;
  max-width: 40%;
  line-height: 1.5;
  color: #4F4F4F;
  font-size: 20px;
}

.principal-button {
  background-color:#333333;
  color: white;
  font-family: 'Space Mono', system-ui;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 30px;
}

footer {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-size: 12px;
  font-family: 'Montserrat', system-ui;
  color: #BDBDBD;
}
footer a {
  text-decoration: none;
  color: #BDBDBD;
  font-weight: 600;
}

@media (max-width: 375px) {
  main {
    grid-template-columns: 1fr;
    padding-top: 3vh;
    justify-content: center;
    padding-left: 20px;
  }

  .principal-image {
    margin: 0 auto 5vh;
    padding-left: 0;
  }

  .right-part {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }

  .principal-title {
    min-width: 90%;
    font-size: 35px;
    line-height: 1.3;
  }

  .principal-text {
    min-width: 80%;
    font-size: 18px;
    margin: 25px 0;
  }

  .principal-button {
    margin-top: 10px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}